<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div class="container">
  <div class="row">
    <div id="list">
      <h1>Listing places SORTED</h1>
      <!--
      <button class="btn btn-light" v-if="page_number > 1" v-on:click="load_page(page_number - 1)">Previous Page</button>
      <button class="btn btn-light" v-if="page_number < total_page_number" v-on:click="load_page(page_number + 1)">Next Page</button>
      -->
      <div v-for="place in places">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ place.name }}</h5>
              <p class="card-text">{{ place.address }}</p>
              <img v-bind:src="place.primary_photo_css_url_small" height="400px"/>
              <p></p>
              <p v-if="place.hourly_price" class="card-text">Hourly: ${{ place.square_footage}}</p>
              <p class="card-text">Daily: ${{ place.daily_price }}</p>
              <p class="card-text">Capacity: {{ place.capacity}} people</p>
              <p class="card-text">Square footage: {{ place.square_footage}} ft squared</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script>

var app = new Vue({
  el: '#list',
  data: {
    page_number: 1,
    total_page_number: 0,
    total_places: 0,
    places: []
  },

  mounted: function () {
    this.load_page();
  },

  methods: {
    load_page: function (page_number) {
      var vm = this;
      console.log(vm.total_page_number);

      $.getJSON('https://thisopenspace.com/lhl-test?page=', function(json) {
        vm.total_page_number = Math.floor(json.total / 10 + 1);
        vm.total_places = json.total;

        for (i = 1; i <= vm.total_page_number; i++) {
          $.getJSON('https://thisopenspace.com/lhl-test?page=' + i.toString(), function(json) {
            vm.places = vm.places.concat(json.data);

            vm.places = vm.places.sort(function (a, b) {
              return a.daily_price - b.daily_price;
            });
          })
            .fail(function() {
              console.log( "request failed");
            })
        }
        
      })
        .fail(function() {
          console.log( "request failed");
        })
    }
  }
})

</script>

